header {
    .logo {
        font-size: 14px;
        svg {
            max-width: 100%;
            height: auto;
        }
    }
    .trial-btn {
        background: #f06626;
        color: #fff;
        border-radius: 30px
    }
}