.map {
  overflow: hidden;
}
@media (min-width: 1650px) {
  .map {
    overflow: visible;
  }
}
.map .wide-container {
  background: #7a3c8e url(../img/pattern.png);
  position: relative;
  border-radius: 5px;
  padding: 50px 0;
}
@media (min-width: 1650px) {
  .map .wide-container {
    box-shadow: 0 10px 80px -10px rgba(0, 0, 0, 0.7);
  }
}
.map .wide-container .map-icon {
  position: absolute;
  right: -135px;
  top: -147px;
}
.map .wide-container .list-placemarks .lp__title {
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.map .wide-container .list-placemarks .lp__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}
.map .wide-container .list-placemarks ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.map .wide-container .list-placemarks ul li {
  list-style: none;
  margin-bottom: 20px;
}
.map .wide-container .list-placemarks ul li .place-name {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px dotted #fff;
  cursor: pointer;
}
.map .wide-container .list-placemarks ul li .place-info {
  padding-top: 20px;
  display: none;
  text-transform: none;
  font-weight: normal;
  padding-bottom: 20px;
  color: #fff;
}
.map .wide-container .list-placemarks ul li .place-info .trial-btn {
  display: block;
  width: 195px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background: #ffbf14;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  transition: .3s;
}
.map .wide-container .list-placemarks ul li .place-info .trial-btn:hover {
  background: #ff8414;
}
